################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Waste_Management_App/FileContentIndex/4ed910c9-43c2-4c9b-ab1c-1f04d4399c41.vsidx
