################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Waste_Management_App/FileContentIndex/4ed910c9-43c2-4c9b-ab1c-1f04d4399c41.vsidx
/.vs/Waste_Management_App/FileContentIndex/b865c61e-02c6-4513-9062-e1ada6d898c1.vsidx
/.vs/Waste_Management_App/FileContentIndex/6cedb751-bbdb-4e54-9a13-9061d5cf311e.vsidx
/.vs/Waste_Management_App/FileContentIndex/1043b1af-504a-415d-a08b-babb6756f34d.vsidx
/.vs/Waste_Management_App/FileContentIndex/1171835b-1609-4296-82e5-4c48c6249556.vsidx
/.vs/Waste_Management_App/FileContentIndex/24ad32af-502c-4b3b-a0af-f8d2f3a648a1.vsidx
