################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Waste_Management_App/FileContentIndex/4ed910c9-43c2-4c9b-ab1c-1f04d4399c41.vsidx
/.vs/Waste_Management_App/FileContentIndex/b865c61e-02c6-4513-9062-e1ada6d898c1.vsidx
