@page
@model Waste_Management_App.Pages.Index1Model
@{
}
<br />
<div class="text-center row-cols-1">
    <h1 class="display-4">Waste Recycling Client Management System</h1>
    <table>
       
        <tr><button class="btn-group-lg"><a class="nav-link text-dark" asp-page="/AddWaste">Add Waste</a></button></tr>
        <tr><button class="btn-group-lg"><a class="nav-link text-dark" asp-page="/Sales/AddSales">Add Sales</a></button></tr>
        <tr><button class="btn-group-lg"><a class="nav-link text-dark" asp-page="/Collections/ViewCollections">View Collections</a></button></tr>
        <tr><button class="btn-group-lg"><a class="nav-link text-dark" asp-page="/Sales/ViewSales">View Sales</a></button></tr>
        
    </table>
   
    
    
    
</div>