@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center index_heading">
    <h1 class="display-4">Waste Recycling Client Management System</h1>
    </div>
<img class="index_img" src="https://cdn.pixabay.com/photo/2013/09/14/18/41/colorful-182220_1280.jpg">

