@page
@model LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">

    <h2 class="display-3">Company X</h2>



    <h1 class="display-4">Login</h1>
    
        <button class="btn-group-lg"><a class="nav-link text-dark" asp-page="/Home">Click here</a></button>
      
    
</div>
